<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add a task</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header th:insert="header.html :: header"></header>

<form method="post" action="/tasks/new" th:object="${task}">

    <h3>Add a task</h3>
    <div>
        <p th:errors="*{name}"></p>
        <p th:errors="*{description}"></p>
        <p th:errors="*{date}"></p>
    </div>
    <div>
        <label for="name">Title:</label>
        <input type="text" th:field="name" name="name" id="name">

    </div>

    <div>
        <label for="description">Description:</label>
        <input type="text" th:field="description" name="description" id="description">
    </div>

    <div>
        <label for="date">Due date:</label>
        <input type="date" th:field="date" name="date" id="date">
    </div>

    <div>
        <label for="time">Due time(optional):</label>
        <input type="time" th:field="time" name="time" id="time">
    </div>

    <input type="submit" value="Add Task">
</form>

</body>
</html>