<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header th:insert="header.html :: header">

</header>

<h1 th:text="#{homegreeting}"></h1>
<h2 th:text="#{homedescription}"></h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequuntur dolores ex fuga impedit maiores
    veritatis? Aperiam esse eveniet ex numquam sint tempora. Blanditiis ducimus facilis hic necessitatibus obcaecati
    perferendis quos recusandae, voluptate? Doloribus laboriosam, repellat! Asperiores dolore, error, exercitationem
    expedita illo incidunt maxime minima odio perferendis, placeat ratione vitae.</p>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script src="locale.js"></script>
