<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{taskpagetitle}" ></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header th:insert="header.html :: header"></header>
<section th:if="${task != null}">
    <h1 th:text="#{taskdetail}"></h1>
    <p th:text="${task.name}"></p>
    <p th:text="${task.description}"></p>
    <span><p th:text="${task.date}"></p><p th:text="${task.time}"></p></span>
    <a th:href="@{/tasks/} + ${task.id} + '/sub/create'" th:text="#{Createasubtaskforthistask}"></a>
    <section th:if="${subtasks != null}">
        <p th:text="#{subtasktsof}"><p th:text="${task.name}"></p></p>
        <table>
            <tr>
                <th th:text="#{name}" >Name</th>
                <th th:text="#{description}" >Description</th>
            </tr>
            <tr th:each="subtask : ${subtasks}">
                <td th:text="${subtask.name}"></td>
                <td th:text="${subtask.description}"></td>
            </tr>

        </table>
    </section>
</section>
<section th:if="${task == null}">
    <p th:text="#{notfound}"></p>
</section>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace(window.location.pathname + '?lang=' + selectedOption);
            }
        });
    });
</script>

