<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header th:insert="header.html :: header"></header>

<table th:if="${!tasks.empty}">
    <tr>
        <th th:text="#{title}"></th>
        <th th:text="#{description}">Description</th>
        <th th:text="#{duedate}">Due date</th>
        <th th:text="#{time}">Time</th>
        <th></th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td><a th:href="@{/tasks/} + ${task.id}" th:text="${task.name}"></a></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.date}"></td>
        <td th:text="${task.time}"></td>
        <td><a th:href="@{/tasks/edit/} + ${task.id}" th:text="#{edit}"></a></td>
    </tr>
</table>
<p th:if="${tasks.empty}" th:text="#{notasks}"></p>

</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '') {
                window.location.replace(window.location.pathname + '?lang=' + selectedOption);
            }
        });
    });
</script>

